.col-1 {width: 8.33%;background-color: black; text-align: center;}
.col-2 {width: 16.66%;background-color: blanchedalmond;text-align: center;}
.col-3 {width: 25%;background-color: blue;text-align: center;}
.col-4 {width: 33.33%;background-color: blueviolet;text-align: center;}
.col-5 {width: 41.66%;background-color: brown;text-align: center;}
.col-6 {width: 50%;background-color: cadetblue;text-align: center;}
.col-7 {width: 58.33%;background-color: chartreuse;text-align: center;}
.col-8 {width: 66.66%;background-color: cornflowerblue;text-align: center;}
.col-9 {width: 75%;background-color: darkkhaki;text-align: center;}
.col-10 {width: 83.33%;background-color: darkred;text-align: center;}
.col-11 {width: 91.66%;background-color: darkslateblue;text-align: center;}
.col-12 {width: 100%;background-color: firebrick;text-align: center;}
.flex{display: flex;}